<ion-view title="Contact Us" id="page4">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/Ilxr9q5lTVOxtpGTMcdb_cropped-email-ministry-logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="contactUs-markdown3" style="color:#000000;">
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div class="button-bar">
            <a href="#" onclick="window.open('https://www.facebook.com/E-Mail-Ministry-146699155358855', '_system', 'location=yes'); return false;" id="contactUs-button4" style="border-radius:10px 10px 10px 10px;" class="button button-royal  button-block icon ion-social-facebook"></a>
            <a href="#" onclick="window.open('https://twitter.com/EMailMinistry', '_system', 'location=yes'); return false;" id="contactUs-button5" style="border-radius:10px 10px 10px 10px;" class="button button-royal  button-block icon ion-social-twitter"></a>
            <a href="#" onclick="window.open('http://emailministry.org', '_system', 'location=yes'); return false;" id="contactUs-button6" style="border-radius:10px 10px 10px 10px;" class="button button-royal  button-block icon ion-earth">Web</a>
        </div>
    </ion-content>
</ion-view>