<ion-view title="Message" id="page3">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/V6iZRaxlS6C0IVMmSlSg_cropped-email-ministry-logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="message-heading1" style="color:#000000;">Title:</h3>
        <div id="message-markdown2" style="color:#000000;">
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div class="button-bar">
            <button id="message-button1" style="border-radius:10px 10px 10px 10px;" class="button button-royal  button-block icon ion-social-facebook"></button>
            <button id="message-button2" style="border-radius:10px 10px 10px 10px;" class="button button-royal  button-block icon ion-social-twitter"></button>
            <a href="mailto:" id="message-button3" style="border-radius:10px 10px 10px 10px;" class="button button-royal  button-block icon ion-email"></a>
        </div>
    </ion-content>
</ion-view>