<ion-view title="Search" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div>
                <img src="img/khBfPfSSp2PumGM9dYdX_cropped-email-ministry-logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search All Messages">
            </label>
            <div class="spacer" style="width: 283px; height: 19px;"></div>
            <label class="item item-select">
                <span class="input-label">Or Select Category</span>
                <select></select>
            </label>
        </form>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>